/* przejscia */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Italianno', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeebe8;
    padding: 10px 20px; /* Zmniejszone paddingi */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 60px; /* Cieńszy pasek nawigacyjny */
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 20px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

/* usprawnienia menu */
.nav-items a {
    margin: 0 100px;
}

nav a:hover {
    color: #000;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 160px; /* Zwiększona wielkość logo */
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;  
    justify-content: center;
    align-items: center;
    top: 0%; /* Pozycja loga – wystaje za pasek nawigacyjny */
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hero {
    background: url('https://scontent-fra5-1.xx.fbcdn.net/v/t39.30808-6/302693434_936293063951248_598327703134462879_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=1TSJX0S5wbYQ7kNvgGjdjSz&_nc_ht=scontent-fra5-1.xx&oh=00_AYCxe7Y8l_aqDRane-NcabjX2birIoWznbgTsS0YGLoszg&oe=66BF8927') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-text h1 {
    font-size: 120px;
    color: #eeebe8;
    margin: 0;
}

.hero-text p {
    font-size: 24px;
}

.description {
    padding: 60px 20px;
    text-align: center;
}

.description h2 {
    font-size: 32px;
}

.description p {
    font-family: 'Raleway';
    font-size: 18px;
    max-width: 800px;
    margin: 20px auto;
}

/* stopka */
.footer {
    background-color: #eeebe8; /* Kolor tła stopki */
    padding: 1px;
    font-family: 'Raleway', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer p {
    margin: 5px 0;
    color: #000;
}

.footer-logo {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: auto;
}

.footer-social a {
    color: #000;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #8e745c;
}

.footer i {
    margin-right: 10px;
    color: #8e745c;
}


/* galeria zdjęć */
#zdjecia1 {
    scroll-margin-top: 80px; /* Dostosuj wysokość do swoich potrzeb */
}

.zdjecia1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.opis-zdjecia1 {
    position: relative;
    width: 100%;
    padding-top: 66.67%;
    overflow: hidden;
}

.opis-zdjecia1 img {
    position: absolute;
    transition: transform 0.3s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.opis-zdjecia1:hover img {
    transform: scale(1.1);
}

/* wnetrze */
.wnetrze {
    display: flex;
    flex-wrap: wrap; /* Pozwala na zawijanie elementów */
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    padding: 20px; /* Dodaj padding dla lepszego wyglądu na mniejszych ekranach */
}

.text-wnetrze {
    font-family: 'Raleway';
    font-size: 20px;
    flex: 1;
    margin-left: 200px;
    margin-right: 10%;
    max-width: 600px; /* Maksymalna szerokość tekstu */
    margin-bottom: 20px; /* Dodaj margines dolny na mniejszych ekranach */
}

.wnetrze-zdjecia {
    flex: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr; /* Ustawienie pojedynczej kolumny dla zdjęć */
    gap: 10px;
}

.wnetrze-opis {
    position: relative;
    height: 380px;
    width: 80%; /* Zmień szerokość na 100%, aby dostosowywała się do rodzica */
    overflow: hidden;
}

/* jedzenie */
.jedzenie {
    display: flex;
    flex-wrap: wrap; /* Umożliwia zawijanie elementów */
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    padding: 20px; /* Dodaj padding, aby poprawić układ na mniejszych ekranach */
}

.text-jedzenie {
    font-family: 'Raleway';
    font-size: 20px;
    flex: 1;
    padding-right: 200px;
    max-width: 600px; /* Maksymalna szerokość tekstu */
    margin-bottom: 20px; /* Margines dolny dla mniejszych ekranów */
}

.jedzenie-zdjecia {
    flex: 1;
    position: relative;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1fr; /* Ustawienie jednej kolumny dla zdjęć */
    gap: px;
}

.jedzenie-opis {
    position: relative;
    height: 400px;
    width: 80%; /* Zmiana szerokości na 100% */
    overflow: hidden;
}

/* przewijanie i strzałki */
.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slide-image.active {
    opacity: 1;
}

.slide-image:first-child {
    display: block;
}

.interior-slider,
.breakfast-slider {
    position: relative;
    overflow: hidden; /* Dodane, aby zapobiec wyświetlaniu elementów poza kontenerem */
    border-radius: 10px; /* Opcjonalne, aby nadać zaokrąglone rogi */
}

.interior-controls,
.breakfast-controls {
    position: absolute;
    top: 50%;
    width: 75%; /* Zmieniono szerokość na 100% */
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Ignoruj kliknięcia dla kontenera */
}

.interior-controls button,
.breakfast-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px; /* Zmniejszono padding */
    cursor: pointer;
    pointer-events: auto; /* Aktywuj kliknięcia dla przycisków */
    border-radius: 50%;
    display: flex;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
    width: 40px; /* Zmniejszono rozmiar przycisku */
    height: 40px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.interior-controls button:hover,
.breakfast-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Zmiana koloru tła na ciemniejszy przy najechaniu */
    transform: scale(1.1); /* Powiększenie przycisku na hover */
}

.interior-controls svg,
.breakfast-controls svg {
    width: 24px;
    height: 24px;
    fill: white;
}

.interior-controls .prev-slide,
.breakfast-controls .prev-slide {
    left: 10px;
}

.interior-controls .next-slide,
.breakfast-controls .next-slide {
    right: 10px;
}


#wnetrze, #jedzenie {
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px; /* lub dowolna szerokość, którą preferujesz */
    padding-left: 20px; /* wewnętrzne odstępy od treści */
    padding-right: 20px;
  }


/* Sekcja rezerwacji */
.rezerwacja {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.text-rezerwacja {
    text-align: center;
}

.text-rezerwacja h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.booking-btn {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.booking-btn:hover {
    background-color: #cc7a00;
}



/* RESPONSYWNE MEDIA QUERIES */

/* Na mniejszych ekranach (poniżej 768px) */
@media (max-width: 768px) {
    /* Ukryj elementy nawigacyjne, zostaw logo */
    .nav-items {
        display: none;
    }

    nav {
        justify-content: center; /* Wyśrodkowanie całej nawigacji na telefonach */
    }

    .logo {
        position:static; /* Usuń pozycjonowanie absolutne na mniejszych ekranach */
        transform: none;   /* Usuń przesunięcie na mniejszych ekranach */
        width: 120px; /* Mniejsze logo na telefonach */
        height: 120px;
        margin-top: 10%; /* Resetuj top */
    }

    /* Sekcja Wnętrze: Zdjęcia nad tekstem */
    .wnetrze {
        display: block;
        text-align: center;
        margin: 20px 0; /* Zmniejszony margines */
        padding: 10px; /* Zmniejszony padding */
    }

    /* Zmniejszenie obrazu tła hero na mniejszych ekranach */
    .hero {
        height: 50vh; /* Zmniejsz wysokość sekcji hero */
        background-size: contain; /* Dopasowanie obrazu tła do mniejszego ekranu */
    }

    /* Dostosowanie wielkości fontów w hero-text */
    .hero-text h1 {
        font-size: 40px; /* Zmniejszona wielkość fontu dla nagłówka */
    }

    .hero-text p {
        font-size: 18px; /* Zmniejszona wielkość fontu dla tekstu */
    }

    .wnetrze-zdjecia {
        margin: 0 auto; /* Wyśrodkowanie zdjęć */
        max-width: 100%; /* Dopasowanie szerokości */
        display: flex;
        justify-content: center; /* Wyśrodkowanie zawartości wewnątrz */
    }

    .wnetrze-opis {
        position: relative;
        height: 250px; /* Mniejsza wysokość dla telefonów */
        width: 100%; /* Szerokość na 100%, aby była równa */
        overflow: hidden;
    }

    .wnetrze-opis img {
        max-width: 100%;
        height: auto;
    }

    .text-wnetrze {
        margin: 20px auto; /* Wyśrodkowanie tekstu */
        max-width: 100%;
        padding: 0 20px; /* Dodanie odstępu od krawędzi */
    }

    /* Sekcja Jedzenie: Zdjęcia nad tekstem */
    .jedzenie {
        display: block;
        text-align: center;
        margin: 20px 0; /* Zmniejszony margines */
        padding: 10px; /* Zmniejszony padding */
    }

    .jedzenie-zdjecia {
        margin: 0 auto; /* Wyśrodkowanie zdjęć */
        max-width: 100%; /* Dopasowanie szerokości */
        display: flex;
        justify-content: center; /* Wyśrodkowanie zawartości wewnątrz */
    }

    .jedzenie-opis {
        position: relative;
        height: 250px; /* Mniejsza wysokość dla telefonów */
        width: 100%; /* Szerokość na 100%, aby była równa */
        overflow: hidden;
    }

    .jedzenie-opis img {
        max-width: 100%;
        height: auto;
    }

    .text-jedzenie {
        margin: 20px auto; /* Wyśrodkowanie tekstu */
        max-width: 100%;
        padding: 0 20px; /* Dodanie odstępu od krawędzi */
    }

    /* Dostosowanie wielkości fontów */
    .hero-text h1 {
        font-size: 60px;
    }

    .hero-text p {
        font-size: 18px;
    }
}
